In [32]:
import os
import numpy as np
import pandas as pd
%matplotlib inline

In [2]:
csv_directory = "./data"

csv_files = [f for f in os.listdir(csv_directory) if f.endswith('.csv')]

dataframes = {}

for csv_file in csv_files:
    csv_path = os.path.join(csv_directory, csv_file)
    df = pd.read_csv(csv_path)
    name = os.path.splitext(csv_file)[0]
    dataframes[name]=df

In [3]:
dataframes.keys()

dict_keys(['sample_submission', 'test', 'train'])

In [5]:
# for k,v in dataframes.items():
#     print(k)
#     display(v.info())

In [26]:
tr = dataframes['train']
cols = tr.columns
loc= ['latitude','longitude']

In [29]:
(
    tr
    .groupby(loc)
    .year
    .agg(['max','min','count'])
)

                     max   min  count
latitude longitude
-3.299   30.301     2021  2019    159
-3.287   29.713     2021  2019    159
-3.174   29.926     2021  2019    159
-3.161   28.839     2021  2019    159
-3.153   30.347     2021  2019    159
...                  ...   ...    ...
-0.598   29.102     2021  2019    159
-0.569   30.031     2021  2019    159
-0.547   29.653     2021  2019    159
-0.528   29.472     2021  2019    159
-0.510   29.290     2021  2019    159

[497 rows x 3 columns]

In [35]:
tr.emission.skew()

10.173825825101622